.imageContainer {
    position: relative;
  }
  
  .bigImage {
    width: 100%; 
    height: 300px;
   
  }
  
  .contactText {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px; 
    color: black; 
    font-weight: bold;
    text-decoration: underline;
  }