/* admineditareoferte.module.css */

.adminContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainArea {
  display: flex;
  flex: 1;
  margin-top: 20px;
  margin-left: 50px;
}

.leftSidebar {
  width: 300px;
  background-color: #6d93c0;
  padding: 30px;
  border-right: 1px solid #ccc;
  color: white;
}

.menu {
  margin-bottom: 20px;
}

.menuHeader {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 40px;
  margin-top: 50px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  color: white; 
  text-decoration: none;
  font-size: 30px;
}

.menu ul li a:hover {
  background-color: white;
  color: #6d93c0; 
}

.content {
  flex: 1; 
  padding: 20px;
}

.offerList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.offerItem {
  position: relative;
  width: calc(100% - 20px); 
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px; 
}

.offerDetails {
  flex: 1; 
  padding-right: 20px; 
}

.formGroup {
  margin-bottom: 10px;
}

.formGroup label {
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
  font-size: 16px;
}

.buttonContainer {
  margin-top: 10px;
  display: flex; 
}

.editButton,
.saveButton,
.deleteButton {
  background-color: #6d93c0;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.editButton:hover,
.saveButton:hover,
.deleteButton:hover {
  background-color: #375a7f;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.offerPhoto {
  width: 100%; 
  height: auto; 
  max-width: 300px; 
  object-fit: cover; 
  border-radius: 4px; 
}
.deleteButton {
  background-color: red;

}
